.box-row {

}
.box {
	display: inline-block;
	border: 1px solid gray;
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
input.cell {
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid blue;
}
input.char-input {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: none;
	border-bottom: 1px solid green;
	margin-right: 3px;
	margin-bottom: 20px;
}